CompileFlags:
  Add:
    - -I/home/marco/dev/rexglue-sdk/include
    - -I/home/marco/dev/rexglue-sdk/src
    - -I/home/marco/dev/rexglue-sdk/thirdparty/fmt/include
    - -I/home/marco/dev/rexglue-sdk/thirdparty/spdlog/include
    - -I/home/marco/dev/rexglue-sdk/thirdparty/imgui
    - -I/home/marco/dev/rexglue-sdk/thirdparty/volk
    - -I/home/marco/dev/rexglue-sdk/thirdparty/vulkan-headers/include
    - -I/home/marco/dev/rexglue-sdk/thirdparty/vulkan-memory-allocator/include
    - -I/home/marco/dev/rexglue-sdk/thirdparty/sdl3/include
    - -DREX_PLATFORM_LINUX=1
    - -DREX_HAS_WAYLAND=1
    - -DREXGLUE_ENABLE_PERF_COUNTERS=1
    - -DREXGLUE_ENABLE_PROFILING=1
    - -xc++
    - -std=c++23
    - -I/usr/include/gtk-3.0
    - -I/usr/include/pango-1.0
    - -I/usr/include/cloudproviders
    - -I/usr/include/cairo
    - -I/usr/include/gdk-pixbuf-2.0
    - -I/usr/include/glycin-2
    - -I/usr/include/at-spi2-atk/2.0
    - -I/usr/include/at-spi-2.0
    - -I/usr/include/atk-1.0
    - -I/usr/include/dbus-1.0
    - -I/usr/lib/dbus-1.0/include
    - -I/usr/include/fribidi
    - -I/usr/include/pixman-1
    - -I/usr/include/harfbuzz
    - -I/usr/include/freetype2
    - -I/usr/include/libpng16
    - -I/usr/include/gio-unix-2.0
    - -I/usr/include/glib-2.0
    - -I/usr/lib/glib-2.0/include
    - -I/usr/include/libmount
    - -I/usr/include/blkid
    - -I/usr/include/sysprof-6
